@inject PhoneBook.Interfaces.IRequestLogin Login

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css" />
    <link rel="canonical" href="~/css/headers.css"/>
    <link rel="stylesheet" href="~/PhoneBook.styles.css" asp-append-version="true"/>
    <link rel="shortcut icon" href="~/phonebook.ico" type="image/x-icon">
</head>
<body>
    <header class="p-3 text-bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                
                <img src="~/image/phonebook_48px.png" alt="логотип" width="30px" asp-append-version="true"/>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a class="nav-link px-2 text-white" asp-area="" asp-controller="Contacts" asp-action="Index">Телефонная книга</a></li>
                    <li><a class="nav-link px-2 text-white" asp-controller="Contacts" asp-action="About">О приложении</a></li>
                </ul>

                @if (Login.IsToken)
                {
                    var fullName = $"{Login.Email}";
                        <form method="get">
                            <a id="manage" class="btn btn-outline-light me-2">Здравствуй @fullName</a>
                            <button asp-controller="Authentication" asp-action="Logout" class="btn btn-outline-light me-2">Выход</button>
                        </form>
                }
                else if (!Login.IsToken)
                {
                    <form method="get">
                        <button asp-controller="Authentication" asp-action="Login" class="btn btn-outline-light me-2">Логин</button>
                        <button asp-controller="Authentication" asp-action="Register" class="btn btn-warning">Регистрация</button>
                    </form>
                }
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <ul class="nav col-md-4 justify-content-end">
                <li><p class="nav-link px-2 text-body-secondary">&copy; 2023 Никонов</p></li>
                <li><a class="nav-link px-2 text-body-secondary" asp-controller="Contacts" asp-action="Index">Телефонная книга</a></li>
                <li><a class ="nav-link px-2 text-body-secondary" asp-controller="Contacts" asp-action="About">О приложении</a></li>
            </ul>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/bootstrap.min.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
