@model PhoneBook.Models.RequestLogin



@if (false)
{
        <div class="text-end">

        <label asp-for="Email" class="form-label">Здравствуй, Email</label>

        @* <a id="manage" class="btn btn-outline-light me-2"  title="Manage">Здравствуй, asp-for="Email"</a> *@
        <form id="logoutForm" class="btn btn-warning" asp-page="/Authentication/Logout" asp-route-returnUrl="@Url.Action("Index", "Contacts", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text">Выход</button>
            </form>
        </div>
}
else
{
    <div class="text-end">
        <a class="btn btn-warning" id="register" asp-area="Identity" asp-page="/Authentication/Register">Регистрация</a>
        <a class="btn btn-outline-light me-2" id="login" asp-area="Identity" asp-page="/Authentication/Login">Логин</a>
    </div>

    @* @UserManager.GetUserName(User) *@
    
}

